.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    padding: 0;
    gap: 20px;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.horizontal-scroll {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
